@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f7f7f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  background-color: white;
}

.hamburger {
  font-size: 20px;
  color: #6070ff;
}

.logo {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  color: #6070ff;
}

.bio {
  background-image: url("images/header-shapes-mobile.png");
  background-repeat: none;
  height: 587px;
  width: 375px;
}

.container {
  padding: 0 24px;
  margin-top: -35px;
}

.intro1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  padding-top: 114px;
}

.skill {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.connect {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.socials {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-left: -40px;
}

.fa-brands {
  color: #505f79;
  font-size: 25px;
}

.Card {
  width: 300px;
  height: 552px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  border-radius: 16px;
  margin: 100px 24px;
  background: #ffff;
}

.tonic {
  color: #172b4d;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.canopy {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1.3fr 0.2fr 1fr;
  align-items: center;
  margin-top: -25px;
}

.canopyHeading {
  color: #344563;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: 5px;
}

.Dev,
.year {
  color: #7a869a;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.intro {
  color: #344563;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
  margin-left: 5px;
}

.btns {
  display: flex;
  gap: 10px;
  margin-left: -35px;
}

.btn-item {
  list-style-type: none;
}

.tag {
  border-radius: 8px;
  background: #ebebff;
  border: none;
  color: #6070ff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.see,
.abt {
  border-radius: 8px;
  border: 1px solid #6070ff;
  padding: 12px;
  margin-top: 15px;
  margin-left: 5px;
  color: #396df2;
  text-align: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  background-color: #ffff;
}

/* About myself */

.about {
  border-top-right-radius: 80px;
  background: #fff;
  width: 320px;
  padding: 24px;
  margin-top: 100px;
}

.aboutme {
  width: 300px;
}

.intro-abt {
  margin-top: -20px;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.langHeading,
.frameworks,
.skills {
  color: #000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

hr {
  margin-top: -10px;
  background-color: #dfe1e6;
}

.Js-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #253858;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  list-style-type: none;
  border-radius: 8px;
  background: #f7f7f9;
  margin-bottom: 10px;
  width: 303px;
  padding: 10px 0 10px 10px;
}

/* Contact form*/

.contact-container {
  background: url('./assets/contact/header-shapes-mobile.png') 100% 21px no-repeat;
  display: flex;
  flex-direction: column;
  background-color: #5564eb;
  min-height: 779px;
  border-top-left-radius: 100px;
  object-fit: cover;
}

.contact-container h2 {
  padding-top: 103px;
  color: #ffff;
  text-align: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contact-title {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.contact-form {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 100%;
}

.input-section {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

input {
  border-radius: 8px;
  border-style: none;
  padding-left: 1rem;
  height: 2.9rem;
  width: 100%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  outline: none;
}

textarea {
  border-radius: 8px;
  border-style: none;
  padding-top: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 13rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
}

.submit {
  margin-top: 1rem;
  background-color: #fff;
  border: 2px solid #5564eb;
  border-radius: 8px;
  color: #5564eb;
  padding: 1rem;
  width: 50%;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

